#bg{
  background-image: url("/images/back1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  background-size: cover;
  height: 100%;}
  body {
      position: relative;
      overflow-y: hidden;
  }
  .container{
    width: 950px;
    height: 700px;
    overflow-y: scroll;
    position: fixed;
    padding: center;
}
  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-sm-9 div {
      height: 850px;
      font-size: 28px;
      position: inherit;  }
  #section1 { color: #fff;
            background-color: rgba(220, 234, 239, 0.31);
            color: #000000;
            text-align: center;}
 
  @media screen and (max-width: 100px) {
    #section1 {
        margin-left: 150px;
        margin-right: 150px;

    }
    #section1 {
        font-family: sans-serif;
        font-color: #000000;
      }
  .btn-lg{
    width: 100px;
  }
  .jumbotron{
    background-color:rgba(199, 193, 193, 0.52);
  }
  jumbotron1{padding-top:30px;
    padding-bottom:30px;
    margin-bottom:30px;color:inherit;
    background-color:rgba(199, 193, 193, 0.38);
    height:920px;}
  form {
    display: block;
    margin-top: 10em;
}
  
  

  