<div class="jumbotron">
    <div class="text-center">
        <h1>HELLO FRIENDS..!</h1>
        <p>welcome to the slambook of 2016</p>
                <!-- Single button -->
            <div class="btn" role="group" aria-label="...">
                  <button type="button" class="btn btn-success btn-lg">New</button>
                  <button type="button" class="btn btn-danger btn-lg">Edit</button>
            </div>
    </div>     
</div>
