<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <div id="bg">
        <div class="container">
                <div class="col-sm-9">
                    <div id="section1">    
                    <h1>Section 1</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div><!--col-sm-9-->
        </div><!--container-->
    </div><!--bg-->
</body>